.sidebar{
    background-image: linear-gradient(45deg, #0fcfec, #19D3AE);
    position: fixed;
    width: 15%;
}
.sidebar li{
    margin-bottom: 1.5rem;  
}
.sidebar ul{
    margin-top: 50px;
    margin-left: 20px;
}

.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;

}
.signOut{
    margin-top: 250px;

}