.blogPost-card{
    border: none;
    width: 31%;
    height: 350px;
    margin-top: 10px;
    box-shadow: 4px 4px 15px gray;
}
.blogPost-card:hover{
    background-image: linear-gradient(75deg, #19D3AE,#0fcfec);
    color: white;
}
