.blogPost-card{
    border: none;
    width: 31%;
    height: 350px;
    margin-top: 10px;
    box-shadow: 4px 4px 15px gray;
}
.blogPost-card:hover{
    background-image: linear-gradient(-45deg, #2fbebe, rgb(243, 195, 105));
    color: white;
}
