.make-appointment{
    background-image: url(../../../images/appointment-bg.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    position: relative;
    background-size: cover;
    height: 420px;
    width: 100%;
}
.make-appointment::before{
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(77, 104, 110);
    opacity: 0.8;
    
   
}
.make-appointment img{
    
    height: 550px;
    transform: translateY(-130px);
}
.text-color{
    color: white;
    z-index: 0;
}